numpy
Cython
setuptools!=50.0.0,>=38.6.0
pandas
scikit-learn
scipy
statsmodels
joblib
urllib3
packaging

# THEN this:
pmdarima==2.0.4

# Other libraries
streamlit
seaborn
matplotlib
plotly
tqdm
pymysql
